# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log/OS Files
*.log
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Kotlin
.kotlin/

# Build artifacts
captures/
.externalNativeBuild/
.cxx/